
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Express</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 2em;
        }
    </style>
</head>

<body>


    <form action="submit" method="post">
        My friend is: <input type="text" name="friendName" />
        <button class='btn btn-primary' type="submit">Add</button>
    </form>

    <p>The friends list:</p>
    <ul>
        <% personList.forEach(function(personName){ %>
            <li>
                <%= (personName) ? personName : '' %>
            </li>
            <% }); %>
    </ul>

</body>