<!DOCTYPE html>
<html lang="en">

<head>
    <title>Express</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            margin: 2em;
        }
    </style>
</head>

<body>

    <a href="/">Add another</a>    <br /><br />

    <p>Added person: <%= (personName) ? personName : '' %>  </p> <br /><br />
    
    <h4>Updated list:</h4>

    <ul>
        <% personList.forEach(function(personName){ %>
            <li>
                <%= (personName) ? personName : '' %>
            </li>
            <% }); %>
    </ul>

</body>